.conatiner {
  align-items: center;
  margin: 0 10%;

  h1 {
    background-color: black;
    padding: 1.1rem;
  }
  .uniform {
    background-color: black;
    color: antiquewhite;

    text-align: center;
  }
  button {
    padding: 0.6rem;
    margin-bottom: 2rem;
  }
  .ul-icon {
  }
}
